<section class="block container featureblock">
  <div class="block__header">
    <h2>Host On the cloud to keep growing</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae.</p>
  </div>
  <article class="grid grid--1x2 feature">
    <div class="media feature__content">
      <div class="mediaimage">
        <span class="icon-container">
          <svg class="icon icon--prima">
            <use xlink:href="./Images/Icons/sprite.svg#easy"></use>
          </svg>
        </span>
      </div>

      <div class="mediabody">
        <h3 class="mediaheader featureblock__heading">Media headere is this</h3>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore laborum
        sequi deserunt? Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Numquam vero eveniet fugiat consequuntur veritatis alias.
      </div>
      <a href="#" class="Links"> Learn More</a>
    </div>

    <picture>
      <source
        type="image/webp"
        srcset="Images/easy.webp 1x, Images/easy@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="Images/easy.jpg 1x, Images/easy@2x.jpg 2x"
      />

      <img class="featureblock__image" src="Images/easy@2x.jpg" alt="" />
    </picture>
  </article>
</section>
