<footer class="block block--black footer">
  <div class="grid container footerblock">
    <section class="collapsible footer__section">
      <div class="collapsible__header">
        <h3 class="collapsible__heading footer__heading">open this section</h3>
        <svg class="icon icon--collapsible collapsible__arrow">
          <use xlink:href="./Images/Icons/sprite.svg#clock"></use>
        </svg>
      </div>
      <div class="collapsible__content">
        <ul class="List">
          <li><a href="#">Website Housting</a></li>
          <li><a href="#">Free Automated</a></li>
          <li><a href="#">Wordpress</a></li>
          <li><a href="#">Migrations</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <div class="collapsible__header">
        <h3 class="collapsible__heading footer__heading">Company</h3>
        <svg class="icon icon--collapsible collapsible__arrow">
          <use xlink:href="./Images/Icons/sprite.svg#clock"></use>
        </svg>
      </div>
      <div class="collapsible__content">
        <ul class="List">
          <li><a href="#">About</a></li>
          <li><a href="#">Afiliates</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <div class="collapsible__header">
        <h3 class="collapsible__heading footer__heading">Support</h3>
        <svg class="icon icon--collapsible collapsible__arrow">
          <use xlink:href="./Images/Icons/sprite.svg#clock"></use>
        </svg>
      </div>
      <div class="collapsible__content">
        <ul class="List">
          <li><a href="#">Contact</a></li>
          <li><a href="#">Knowladge Base</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <div class="collapsible__header">
        <h3 class="collapsible__heading footer__heading">Doamins</h3>
        <svg class="icon icon--collapsible collapsible__arrow">
          <use xlink:href="./Images/Icons/sprite.svg#clock"></use>
        </svg>
      </div>
      <div class="collapsible__content">
        <ul class="List">
          <li><a href="#">Domain Checker</a></li>
          <li><a href="#">Domain Transfer</a></li>
          <li><a href="#">Free Domain</a></li>
        </ul>
      </div>
    </section>
    <div class="footer__brand">
      <img src="Images/logo.svg" alt="" />
      <p class="footer__copyright">copyright 2024 RF</p>
    </div>
  </div>
</footer>
