<nav class="nav collapsible">
  <a class="homebutton" href="/"
    ><img src="Images/logo.svg" alt="Site logo"
  /></a>

  <svg class="icon icon--accent nav__toggler">
    <use xlink:href="./Images/Icons/sprite.svg#menu"></use>
  </svg>

  <ul class="List nav__list collapsible__content">
    <li class="nav__items"><a href="#">link</a></li>
    <li class="nav__items"><a href="#">link</a></li>
    <li class="nav__items"><a href="#">link</a></li>
    <li class="nav__items"><a href="#">link</a></li>
    <li class="nav__items"><a href="#">link</a></li>
  </ul>
</nav>
