<div class="block container planblock">
  <div class="grid grid--1x3">
    <div class="card card--primary">
      <header class="card__header">
        <p class="card__title">Entry</p>
        <div class="card__description">
          <p class="card__price">$14</p>
          <p class="card__billing-cycel">/month</p>
          <span class="badge badge--small">10%off</span>
        </div>
        <p class="card__explanation">Lorem ipsum dolor sit amet.</p>
      </header>
      <div class="card__body">
        <ul class="List List--tick">
          <li class="List__Item">Items 1</li>
          <li class="List__Item">Items 2</li>
          <li class="List__Item">Items 3</li>
        </ul>
        <button class="button button--block">Get Started</button>
      </div>
    </div>
    <div class="card card--popular">
      <header class="card__header">
        <p class="card__title">Entry</p>
        <div class="card__description">
          <p class="card__price">$14</p>
          <p class="card__billing-cycel">/month</p>
          <span class="badge badge--small">10%off</span>
        </div>
        <p class="card__explanation">Lorem ipsum dolor sit amet.</p>
      </header>
      <div class="card__body">
        <ul class="List List--tick">
          <li class="List__Item">Items 1</li>
          <li class="List__Item">Items 2</li>
          <li class="List__Item">Items 3</li>
        </ul>
        <button class="button button--block">Get Started</button>
      </div>
    </div>
    <div class="card card--primary">
      <header class="card__header">
        <p class="card__title">Entry</p>
        <div class="card__description">
          <p class="card__price">$14</p>
          <p class="card__billing-cycel">/month</p>
          <span class="badge badge--small">10%off</span>
        </div>
        <p class="card__explanation">Lorem ipsum dolor sit amet.</p>
      </header>
      <div class="card__body">
        <ul class="List List--tick">
          <li class="List__Item">Items 1</li>
          <li class="List__Item">Items 2</li>
          <li class="List__Item">Items 3</li>
        </ul>
        <button class="button button--block">Get Started</button>
      </div>
    </div>
  </div>
</div>
