<section class="block block--black block--skewed-right showcaseblock">
  <h2 class="block__header">User Freindly Control panel</h2>
  <div class="grid grid--1x2 showcase container">
    <picture class="showcaseblock__image">
      <source
        type="image/webp"
        srcset="Images/ipad.webp 1x, Images/ipad@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="Images/ipad.png 1x, Images/ipad@2x.png 2x"
      />

      <img src="Images/ipad@2x.png" alt="" />
    </picture>

    <ul class="List showace__content">
      <li>
        <div class="media">
          <div class="mediaimage">
            <svg class="icon icon--primary">
              <use xlink:href="./Images/Icons/sprite.svg#clock"></use>
            </svg>
          </div>
          <div class="mediabody">
            <h3 class="mediaheader">Media headere is this</h3>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore
            laborum sequi deserunt?
          </div>
        </div>
      </li>

      <li>
        <div class="media">
          <div class="mediaimage">
            <svg class="icon icon--primary">
              <use xlink:href="./Images/Icons/sprite.svg#clock"></use>
            </svg>
          </div>
          <div class="mediabody">
            <h3 class="mediaheader">Media headere is this</h3>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore
            laborum sequi deserunt?
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
