<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonialSection">
      <img src="./Images/testimonial.jpg" alt="A happy customer" />
      <span class="icon-container">
        <svg class="icon icon--accent">
          <use xlink:href="./Images/Icons/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <blockquote>
      <p class="quote__text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, unde
        obcaecati. Quae voluptates similique nam odit consectetur. Temporibus,
        numquam ab?
      </p>

      <footer>
        <div class="media">
          <div class="mediaimage">
            <svg class="icon icon--primary quote__line">
              <use xlink:href="./Images/Icons/sprite.svg#line"></use>
            </svg>
          </div>

          <div class="mediabody">
            <h3 class="mediaheader quote__header">John smith</h3>
            <p class="quote__compony">Ceo of compony</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
